@using TonieBox.Service

<div class="folder" @onclick="OnClick">
    <div class="cover"></div>
    <div>@Data.Name</div>
</div>


@code {

    [Parameter] public Directory Data { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }

}