@inject Settings Settings

@inject SessionService Session

@inject UserService UserService 

@if (user != null)
{
    <nav>

        <Button Href="@BackUrl" IconClass="fas fa-chevron-circle-left" />

        <Button Href="/upload" IconClass="fas fa-compact-disc" Disabled="uploadDisabled" />

        <Button Href="/shop" IconClass="fas fa-shopping-cart" Disabled="shopDisabled" />

        <Button Href="/tonies" IconClass="fab fa-github-alt" />

        <Button Href="/user/voucher/enter" Style="font-size:1.5rem;">
            <span>
                <i class="fas fa-coins"></i>
                @user.Credits
            </span>
        </Button>

        <Button Href="/user/select" ImageUrl="@user.ProfileImageUrl" />

    </nav>
    <div style="height:6rem;display:block;"></div>
}

@code { 

    [Parameter] public string BackUrl { get; set; }

    PersistentData.User user;

    bool uploadDisabled;

    bool shopDisabled;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUser(Session.UserId);

        uploadDisabled = !(await UserService.CanUploadItem(Session.UserId));

        shopDisabled = !(await UserService.CanBuyItem(Session.UserId));
    }

}