@page "/admin"

@inject VoucherService VoucherService
@inject UserService UserService

<div>

    Vouchers: @availableVouchers von @totalVoucers verfügbar

    <button @onclick="ResetVoucher">Reset</button>

</div>

<div>

    @foreach (var user in users)
    {
        <div>
            @user.Name
            <button @onclick="() => UpdateCredit(user, -1)">-</button>
            @user.Credits
            <button @onclick="() => UpdateCredit(user, 1)">+</button>
        </div>
    }

</div>

@code { 

    int totalVoucers;
    int availableVouchers;
    IEnumerable<PersistentData.User> users;

    protected override async Task OnInitializedAsync()
    {
        await LoadVouchers();

        users = await UserService.GetUsers();
    }

    async Task LoadVouchers()
    {
        var vouchers = await VoucherService.GetVouchers();

        totalVoucers = vouchers.Count();
        availableVouchers = vouchers.Count(v => v.Used == null);
    }

    async Task ResetVoucher()
    {
        await VoucherService.ResetVouchers();

        await LoadVouchers();
    }

    async Task UpdateCredit(PersistentData.User user, int delta)
    {
        await UserService.SetCredits(user.Id, user.Credits + delta);
    }
}