@page "/browse"

@inject MediaService MediaService 

@inject CreativeTonieService CreativeTonieService

@inject IHttpContextAccessor HttpContext 

@if (backPath != null)
{
    <a class="back mb-3" href="@backPath">Zurück</a>
}

<Grid Items="items" RestrictItemWidth="true"></Grid>

@code {

    IEnumerable<GridItem> items;

    string backPath;

    protected override async Task OnInitializedAsync()
    {
        var path = HttpContext.HttpContext.Request.Query["path"].ToString();

        var mediaItems = await MediaService.GetItems(path);
        var tonies = await CreativeTonieService.GetTonies();

        backPath = string.IsNullOrEmpty(path)
            ? null
            : $"/browse?path={path.GetParentPath().EncodeUrl()}";

        items = mediaItems
            .Select(dir => new GridItem
            {
                Name = dir.Name,
                Url = $"/{(dir.HasSubitems ? "browse" : "upload/selecttonie")}?path={dir.Path.EncodeUrl()}",
                ImageUrl = $"/cover?path={dir.Path.EncodeUrl()}",
                SubImageUrl = dir.HasSubitems
                    ? $"/cover?path=folder"
                    : dir.MappedTonieId != null
                        ? tonies.FirstOrDefault(t => dir.MappedTonieId == t.Id)?.ImageUrl
                        : null,
                SubImageClass = dir.MappedTonieId != null ? "tonie" : null,
                Restricted = !dir.HasSubitems && !dir.HasBought
            })
            .ToArray();
    }

}