@page "/shop/buy/confirm"

@inject IHttpContextAccessor Accessor

@inject SessionService Session

@inject UserService UserService

@inject Settings Settings

@if (user != null)
{
    <a class="back mb-3" href="@backPath">Zurück</a>

    <div class="centered" style="flex-direction:column">

        <div style="display:flex">
            <div>
                <img src="@user.ProfileImageUrl" style="width:40vw" />
                <div>
                    Credits: @user.Credits
                </div>
            </div>
            <div>
                <img src="/cover?path=@path.EncodeUrl()" style="width:40vw" />
                <div>
                    Credits: @Settings.MediaItemBuyCost
                </div>
            </div>
        </div>
        <div>
            <a class="button" href="/user/buy/commit?path=@path.EncodeUrl()">
                OK
            </a>
        </div>

    </div>
}

@code {

    PersistentData.User user;
    string path;
    bool canBuy;
    string backPath;

    protected override async Task OnInitializedAsync()
    {
        path = Accessor.HttpContext.Request.Query["path"].ToString();

        backPath = $"/shop?path={path.GetParentPath().EncodeUrl()}";

        user = await UserService.GetUser(Session.UserId);
        canBuy = await UserService.CanBuyItem(Session.UserId);
    }
}