@page "/shop/buy/confirm"

@inject IHttpContextAccessor Accessor

@inject SessionService Session

@inject UserService UserService

@inject Settings Settings

@if (user != null)
{
    <Header BackUrl="javascript:history.back()"></Header>

    <div class="centered mt-5">

        <Item ImageUrl="@coverUrl" Style="width:40vw" />

        <div class="mt-5">
            <Button Href="@commitBuyUrl" Style="font-size:2rem;">
                <span>
                    <i class="fas fa-coins"></i>
                    @Settings.MediaItemBuyCost
                    <i class="fas fa-check-circle ml-3"></i>
                </span>
            </Button>
        </div>

    </div>
}

@code {

    PersistentData.User user;

    string coverUrl;

    string commitBuyUrl;

    protected override async Task OnInitializedAsync()
    {
        var path = Accessor.HttpContext.Request.Query["path"].ToString();

        user = await UserService.GetUser(Session.UserId);

        coverUrl = $"/cover?path={path.EncodeUrl()}";

        commitBuyUrl = $"/shop/buy/commit?path={path.EncodeUrl()}";
    }
}