@page "/shop/buy/confirm"

@inject IHttpContextAccessor Accessor

@inject SessionService Session

@inject UserService UserService

@inject Settings Settings

@if (user != null)
{
    <Header BackUrl="javascript:history.back()"></Header>

    <div class="centered mt-5">

        <div style="display:flex">
            <div>
                <img src="/cover?path=@path.EncodeUrl()" style="width:40vw" />
            </div>
            <div class="ml-4 centered">
                @*<i class="fas fa-minus fa-2x mr-4"></i>*@
                <div class="coin">
                    <i class="fas fa-coins fa-4x"></i>
                    <span style="font-size: 5rem;">@Settings.MediaItemBuyCost</span>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <Button Href="@commitBuyUrl" IconClass="fa-check-circle" />
        </div>

    </div>
}

@code {

    PersistentData.User user;

    string path;

    string commitBuyUrl;

    protected override async Task OnInitializedAsync()
    {
        path = Accessor.HttpContext.Request.Query["path"].ToString();

        user = await UserService.GetUser(Session.UserId);

        commitBuyUrl = $"/shop/buy/commit?path={path.EncodeUrl()}";
    }
}