@page "/shop/buy/confirm"

@inject IHttpContextAccessor Accessor

@inject SessionService Session

@inject UserService UserService

@inject Settings Settings

@if (user != null)
{
    <Header></Header>

    <div class="centered" style="flex-direction:column">

        <div style="display:flex">
            <div>
                <img src="/cover?path=@path.EncodeUrl()" style="width:40vw" />
            </div>
            <div class="ml-4">
                <i class="fas fa-minus fa-2x mr-4"></i>
                <i class="fas fa-coins fa-4x"></i>
                <span style="font-size: 5rem;">@Settings.MediaItemBuyCost</span>
            </div>
        </div>
        <div class="mt-4">
            <a class="button" href="/shop/buy/commit?path=@path.EncodeUrl()">
                <i class="fas fa-check-circle fa-2x"></i>
            </a>
        </div>

    </div>
}

@code {

    PersistentData.User user;
    string path;

    protected override async Task OnInitializedAsync()
    {
        path = Accessor.HttpContext.Request.Query["path"].ToString();

        user = await UserService.GetUser(Session.UserId);
    }
}