@page "/user/entervoucher"
@page "/user/entervoucher/{value}"

@inject Settings Settings


<div class="enterbox" style="margin-top:2rem;margin-bottom:4rem;">
    <span>&nbsp;@Value</span>
</div>

<div class="keyboard">

    @foreach (var key in Settings.KeyboardCharacters)
    {
        <a href="/user/entervoucher/@(Value + key)">@key</a>
    }

</div>

@code {

    [Parameter] public string Value { get; set; }


    protected override void OnInitialized()
    {
    }

}