@page "/upload/start/{tonieid}"

@inject CreativeTonieService CreativeTonieService

@inject IHttpContextAccessor HttpContext

<div class="centered">
    <div>
        <img class="upload" src="@coverUrl" onload="setTimeout('document.forms[0].submit()', 1000)" />
        <img src="/loader.gif" style="margin:5rem; vertical-align:middle" />
        <img class="upload" src="@tonieUrl" />
    </div>
</div>

<form method="get" action="@postUrl"></form>

@code {

    [Parameter] public string TonieId { get; set; }

    string coverUrl;

    string tonieUrl;

    string postUrl;

    protected override async Task OnInitializedAsync()
    {
        var path = HttpContext.HttpContext.Request.Query["path"].ToString();
            
        var tonie = await CreativeTonieService.GetTonie(TonieId);

        coverUrl = $"/cover?path={path.EncodeUrl()}";
        tonieUrl = tonie.ImageUrl;
        postUrl = $"/upload/run/{TonieId}?path={path.EncodeUrl()}";
    }

}