@page "/upload/start/{tonieid}"

@inject CreativeTonieService CreativeTonieService

@inject IHttpContextAccessor HttpContext

<meta http-equiv="refresh" content="1; url=@redirectUrl">

<div class="centered">
    <div>
        <img class="upload" src="@coverUrl" />
        <img src="/loader.gif" style="margin:5rem; vertical-align:middle" />
        <img class="upload" src="@tonieUrl" />
    </div>
</div>

@code {

    [Parameter] public string TonieId { get; set; }

    string coverUrl;

    string tonieUrl;

    string redirectUrl;

    protected override async Task OnInitializedAsync()
    {
        var path = HttpContext.HttpContext.Request.Query["path"].ToString();

        var tonie = await CreativeTonieService.GetTonie(TonieId);

        coverUrl = $"/cover?path={path.EncodeUrl()}";
        tonieUrl = tonie.ImageUrl;
        redirectUrl = $"/upload/run/{TonieId}?path={path.EncodeUrl()}";
    }

}