@page "/upload/start/{tonieid}"

@inject CreativeTonieService CreativeTonieService

@inject IHttpContextAccessor HttpContext

<meta http-equiv="refresh" content="1; url=@redirectUrl">

<div class="centered fullscreen">

    <div style="display:flex; align-items:center">

        <Item ImageUrl="@coverUrl" Style="width: 30vw" />
        
        <img src="/loader.gif" style="margin:2rem;" />

        <Item ImageUrl="@tonieUrl" Style="width: 30vw" />

    </div>

</div>

@code {

    [Parameter] public string TonieId { get; set; }

    string coverUrl;

    string tonieUrl;

    string redirectUrl;

    protected override async Task OnInitializedAsync()
    {
        var path = HttpContext.HttpContext.Request.Query["path"].ToString();

        var tonie = await CreativeTonieService.GetTonie(TonieId);

        coverUrl = $"/cover?path={path.EncodeUrl()}";
        tonieUrl = tonie.ImageUrl;
        redirectUrl = $"/upload/run/{TonieId}?path={path.EncodeUrl()}";
    }

}