@page "/user/voucher/enter"
@page "/user/voucher/enter/{value}"

@inject Settings Settings

@inject VoucherService VoucherService

@inject IHttpContextAccessor Accessor

<Header></Header>

<div class="enterbox" style="margin-top:2rem;margin-bottom:4rem;">
    &nbsp;
    @foreach (var c in Value.GetCharacters())
    {
        <span class="emoji">@c</span>
    }

    <a href="/user/voucher/enter" class="reset">
        <i class="fas fa-times"></i>
    </a>
</div>

<div class="keyboard">

    @foreach (var key in Settings.KeyboardCharacters)
    {
        <a class="emoji" href="/user/voucher/enter/@(Value + key)">@key</a>
    }

</div>

@code {

    [Parameter] public string Value { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await VoucherService.IsValid(Value))
        {
            Accessor.HttpContext.Response.Redirect($"/user/voucher/redeem/{Value.EncodeUrl()}");
        }
    }

}