@page "/user/buy/confirm"

@inject IHttpContextAccessor Accessor

@inject SessionService Session

@inject UserService UserService

@inject Settings Settings

@if (user != null)
{
    <div class="centered" style="flex-direction:column">

        <div style="display:flex">
            <div>
                <img src="@user.ProfileUrl" style="width:40vw" />
                <div>
                    Credits: @user.Credits
                </div>
            </div>
            <div>
                <img src="/cover?path=@path.EncodeUrl()" style="width:40vw" />
                <div>
                    Credits: @Settings.MediaItemCost
                </div>
            </div>
        </div>
        <div>
            OK
        </div>

    </div>
}

@code {

    User user;
    string path;
    bool canBuy;

    protected override async Task OnInitializedAsync()
    {
        path = Accessor.HttpContext.Request.Query["path"].ToString();

        user = await UserService.GetUser(Session.UserId);
        canBuy = await UserService.CanBuyItem(Session.UserId);
    }
}