
<a href="@Href" class="component-button @Class" style="@(ImageUrl != null ? $"background-image:url('{ImageUrl}');" : "") @Style">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else if (!string.IsNullOrEmpty(IconClass))
    {
        <i class="fas @IconClass fa-2x"></i>
    }
</a>

@code {

    [Parameter] public string Href { get; set; }

    [Parameter] public string IconClass { get; set; }

    [Parameter] public string Class { get; set; }

    [Parameter] public string Style { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string ImageUrl { get; set; }
}