@inject Settings Settings

@inject SessionService Session

@inject UserService UserService 

@if (user != null)
{
    <div id="headnav" class="mb-3">
        
        <a href="@BackUrl" class="button mr-4">
            <i class="fas fa-chevron-circle-left fa-2x"></i>
        </a>

        <a href="/browse" class="button mr-4">
            <i class="fas fa-compact-disc fa-2x"></i>
        </a>

        <a href="/shop" class="button mr-4">
            <i class="fas fa-shopping-cart fa-2x"></i>
        </a>

        <a href="/user/voucher/enter" class="button mr-4">
            <span class="credits">
                <i class="fas fa-coins"></i>
                @user.Credits
            </span>
        </a>

        <a href="/user/select">
            <div class="profile" style="background-image:url('@user.ProfileImageUrl');"></div>
        </a>
    </div>
}

@code { 

    [Parameter] public string BackUrl { get; set; }

    PersistentData.User user;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUser(Session.UserId);
    }

}