@inject Settings Settings

@inject SessionService Session

@inject UserService UserService 

@if (user != null)
{
    <div id="headnav" class="mb-3">

        <Button Href="@BackUrl" IconClass="fas fa-chevron-circle-left" />

        <Button Href="/browse" IconClass="fas fa-compact-disc" />

        <Button Href="/shop" IconClass="fas fa-shopping-cart" />

        <Button Href="/tonies" IconClass="fab fa-github-alt" />

        <Button Href="/user/voucher/enter" Style="font-size:1.5rem;">
            <span>
                <i class="fas fa-coins"></i>
                @user.Credits
            </span>
        </Button>

        <Button Href="/user/select" ImageUrl="@user.ProfileImageUrl" />

    </div>
}

@code { 

    [Parameter] public string BackUrl { get; set; }

    PersistentData.User user;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUser(Session.UserId);
    }

}