
/* aspnet */
.valid.modified:not([type=checkbox]) { outline: 1px solid #26b050; }
.invalid { outline: 1px solid red; }
.validation-message { color: red; }

#blazor-error-ui { background: lightyellow; bottom: 0; box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); display: none; left: 0; padding: 0.6rem 1.25rem 0.7rem 1.25rem; position: fixed; width: 100%; z-index: 1000; }
#blazor-error-ui .dismiss { cursor: pointer; position: absolute; right: 0.75rem; top: 0.5rem; }

/* creative manager */
html, body, .main, .content { height:100%; }

.content { padding-top: 1.1rem; }

#headnav { display:flex; }

a.button { background-color: rgb(179, 0, 13); color:white; padding:0.5rem; display:inline-block; }

.profile { background-size: cover; background-position: center center; width:52px; height:52px; }
.credits { font-size:1.5rem; }

.centered { display: flex; align-items: center; justify-content: center; flex-direction:column; }
.centered.fullscreen { height:100vh; }

.grid { display: flex; flex-wrap:wrap; }
.grid.restrict-item-width .item { max-width: 375px; }
.grid .item { flex: 1 0 250px;  }
.grid .item { border: 1px solid #eee; padding: 1rem; text-align: center; cursor: pointer; }
.grid .item.restricted { opacity: 0.5; }
.grid .image { padding-bottom: 100%; margin-bottom: 0.5rem; background-size: cover; background-position: center center; position:relative; }
.grid .item.restricted .image { clip-path: circle(45% at center); }
.grid .subimage { position: absolute; top: 60%; left: 60%; height: 40%; width: 40%; background-size: cover; background-position: center center; }
.grid .subimage.tonie { top: 75%; left: 75%; }

a.back { padding: 1rem; border: 1px solid #eee; display:block; }

.upload { width:300px; }

.enterbox { text-align: center; background-color: #e2e2e2;min-height:8rem; }
.enterbox .emoji { margin:3rem; }
.enterbox .reset { position: absolute; right: 3rem; font-size:3rem; }

.keyboard { text-align: center; position:relative; }
.keyboard > a { border: 1px solid #eee; }

.emoji { display: inline-block; transform: scale(4); margin-right: 100px; margin-bottom: 100px; font-size:16px; }