
/* aspnet */
.valid.modified:not([type=checkbox]) { outline: 1px solid #26b050; }
.invalid { outline: 1px solid red; }
.validation-message { color: red; }

#blazor-error-ui { background: lightyellow; bottom: 0; box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); display: none; left: 0; padding: 0.6rem 1.25rem 0.7rem 1.25rem; position: fixed; width: 100%; z-index: 1000; }
#blazor-error-ui .dismiss { cursor: pointer; position: absolute; right: 0.75rem; top: 0.5rem; }



/* components */
.component-grid { display: flex; flex-wrap: wrap; }
.component-grid .component-item__a { flex: 1 0 250px; margin: 1rem; }

.component-item__a { position: relative; display: block; }
.component-item__image { padding-bottom: 100%; background-size: cover; background-position: center center; border-radius: 1rem; box-shadow: lightgrey 0.2rem 0.2rem 0rem; }
.component-item__image.component-item--restricted { opacity: 0.5; }
.component-item__subimage { position: absolute; top: 63%; left: 60%; height: 40%; width: 40%; background-size: cover; background-position: center center; }
.component-item__subimage.component-item--tonie { top: 65%; left: 75%; }
.component-item__subleftimage { position: absolute; top: 70%; left: 5%; height: 25%; width: 25%; background-size: cover; background-position: center center; border-radius: 0.5rem; box-shadow: 0 0 5px 0px black; }


.component-button { background-color: rgb(179, 0, 13); color: white !important; display: flex; justify-content: center; align-items: center; border-radius: 0.5rem; background-size: cover; background-position: center center; padding: 1rem; }
.component-button:not([href]) { background-color: lightgray; }



/* creative manager */
html, body, .main, .content { height: 100%; -webkit-user-select: none; }

.content { padding-top: 1.1rem; }

nav { display: flex; position: fixed; top: 0; left: 0; width: 100%; padding: 1rem; background-color: #fff; z-index: 1; box-shadow: 0px 4px 5px 0px #00000038; }
nav .component-button { width: 4rem; height: 4rem; margin-right:1.5rem;padding:0; }

.centered { display: flex; align-items: center; justify-content: center; flex-direction:column; }
.centered.fullscreen { height:100vh; }

.enterbox { text-align: center; background-color: #e2e2e2;min-height:8rem; }
.enterbox .emoji { margin:3rem; }
.enterbox .reset { position: absolute; right: 3rem; font-size:3rem; }

.keyboard { text-align: center; position:relative; }
.keyboard > a { border: 1px solid #eee; }

.emoji { display: inline-block; transform: scale(4); margin-right: 100px; margin-bottom: 100px; font-size:16px; }



/* ribbon */
.ribbon { width: 150px; height: 150px; overflow: hidden; position: absolute; }
.ribbon::before,
.ribbon::after { position: absolute; z-index: -1; content: ''; display: block; border: 5px solid #2980b9; }
.ribbon span { position: absolute; display: block; width: 225px; padding: 15px 0; background-color: #3498db; box-shadow: 0 5px 10px rgba(0,0,0,.1); color: #fff; font: 700 18px/1 'Lato', sans-serif; text-shadow: 0 1px 1px rgba(0,0,0,.2); text-transform: uppercase; text-align: center; }
.ribbon-top-right { top: -10px; right: -10px; }
.ribbon-top-right::before,
.ribbon-top-right::after { border-top-color: transparent; border-right-color: transparent; }
.ribbon-top-right::before { top: 0; left: 0; }
.ribbon-top-right::after { bottom: 0; right: 0; }
.ribbon-top-right span { left: -25px; top: 30px; transform: rotate(45deg); }

