@page "/"
@page "/browse"

@if (BackPath != null)
{
    <a class="back mb-3" href="@BackPath">Zurück</a>
}

@if (Items != null)
{
    <div class="grid">
        @foreach (var item in Items)
        {
            <Item Value="item" />
        }
    </div>
}