@page "/"
@page "/browse"

@if (BackPath != null)
{
    <a class="back mb-3" href="/browse/@BackPath">Zurück</a>
}

<div class="grid">
    @foreach (var item in Items)
    {
        <Item Value="item" />
    }
</div>