@page "/"

@if (Uploading)
{
    <span>Uploading...</span>
}
else if (Directories == null)
{
    <span>Loading...</span>
}
else
{
    @if (Tonies == null)
    {
        @if (Selected != null)
        {
            <button @onclick="ParentClick">Back</button>
        }

        <div class="grid">
            @foreach (var directory in Directories)
            {
                <div class="item" @onclick="() => FolderClick(directory)">
                    <div class="cover"></div>
                    <span>@directory.Name</span>

                </div>
                @*<Folder Data="directory" OnClick="() => FolderClick(directory)" />*@
            }
        </div>
    }
    else
    {
        <button @onclick="Back">Back</button>

        <div class="grid">
            @foreach (var tonie in Tonies)
            {
                <div class="item" @onclick="() => Upload(tonie)">
                    <div class="cover" style="background-image:url('@tonie.ImageUrl')"></div>
                    <span>@tonie.Name</span>
                </div>
            }
        </div>
    }

}
