@page "/"

@if (Directories == null)
{
    <span>Loading...</span>
}
else
{
    @if (Tonies == null)
    {
        @if (Selected != null)
        {
            <button @onclick="ParentClick">Back</button>
        }

        foreach (var directory in Directories)
        {
            <Folder Data="directory" OnClick="() => FolderClick(directory)" />
        }
    }
    else
    {
        <button @onclick="Back">Back</button>

        <div class="grid">
            @foreach (var tonie in Tonies)
            {
                <div class="cover" style="background-image:url('@tonie.ImageUrl')">

                </div>
            }
        </div>
    }

}
