@page "/selecttonie/{path}"

<a class="back mb-3" href="@BackUrl">Zurück</a>

@if (Tonies != null)
{
    <div class="grid">
        @foreach (var tonie in Tonies)
        {
            <Item Value="tonie" />
        }
    </div>
}