@page "/uploadstart/{path}/{householdId}/{tonieid}"



<img class="upload" src="@CoverUrl" onload="document.forms[0].submit()" />
<i class="fas fa-sync fa-10x fa-spin" style="margin:5rem; vertical-align:middle; color:#808080"></i>
<img class="upload" src="@TonieUrl" />

<form method="post" action="@PostUrl"></form>